body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    text-align: center;
}

#paciente-form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pacientes-lista ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#pacientes-lista li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#estadisticas p {
    margin: 10px 0;
}

#busqueda-form input[type="text"] {
    width: 65%;
}

#busqueda-form button {
    background-color: #28a745;
    margin-bottom: 10px;
}

#info-total-pacientes, #info-promedio{
    margin-bottom: 10px;
    width: 15%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

#resultados-busqueda ul {
    list-style: none;
    padding: 0;
}

#resultados-busqueda li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
